name:  My CI

on: # spicify the event
  push: 
    branches: [main] # specify the branch
jobs: 
  hello: # job that runs
    name: hello job 
    runs-on: ubuntu-latest
    steps:
      - name: My first step to test CI, but with naming
        run: echo "Hello World from GHA!"