name:  My CI

on: # spicify the event
  push: 
    branches: [main] # specify the branch
  pull_request:
  workflow_dispatch:
jobs: 
  hello: # job that runs
    name: hello job 
    runs-on: ${{ matrix.platform}} # corresponding to what is defined in strategy
    strategy:
      matrix:
        platform: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.10', '3.14'] # quote the `3.10` version as otherwise it will be interpreted as `3.1`
    steps:
      - name: My first step to test CI, but with naming
        run: echo "Hello World from GHA!"
  
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps: # install first, then run pytest
      - name: Check out repo # commonly used that there is existing 3rd party 
        uses: actions/checkout@v6 # => has a repo for this action: https://github.com/actions/checkout # can specify precise version OR branch
        # with: 
        #  repository: # ... that specify the arguments to run with
      - name: Install Python
        uses: actions/setup-python@v6
        with:
          # python-version: '3.13'
          python-version: ${{ matrix.python-version}}
      - name: Install Python packagse
        run: pip install .[test]
      - name: Run tests
        run: pytest -vv # make it more verbose